TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
COMPOSE_PROJECT_NAME=
TZ=
DOMAIN_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_BIND_ADDRESS=
DB_ALLOWED_CIDR=
JWT_SECRET=
JWT_EXPIRES_IN=
RUN_SEED=
OPENAI_API_KEY=
N8N_WEBHOOK_URL=
N8N_PORT=
N8N_ENCRYPTION_KEY=
N8N_USER_MANAGEMENT_DISABLED=
NEXT_PUBLIC_API_URL=
SERVER_API_URL=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
GF_SERVER_ROOT_URL=
PROMETHEUS_RETENTION=
PROMETHEUS_PORT=
ALERTMANAGER_PORT=
GRAFANA_PORT=
BOT_PORT=
